<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>bmi</h1>
<div>
    <input type="text" v-model="h" placeholder="height">
    <input type="text" v-model="w" placeholder="weight">
    <input type="button" value="开始测试" @click="f()">
    <h2>测试结果:{{result}}</h2>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script>
    let v = new Vue({
        el:"body>div",
        data:{
            h:"",w:"",result:""
        },
        methods:{
            f(){
                axios.get("/bmi?h="+v.h+"&w="+v.w).then(function (response){
                    v.result = response.data;
                })
            }
        }
    })
</script>
</body>
</html>