<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>注册</h1>
<div>
<!--    blur 代表失去焦点事件   -->
  <input type="text" v-model="user.username" placeholder="用户名" @blur="f()">{{info}}<br>
  <input type="text" v-model="user.password" placeholder="密码"><br>
  <input type="text" v-model="user.nick" placeholder="昵称"><br>
    <!-- v-bind:disabled="true" 此情况下按钮无法点击  false就可以点击-->
  <input type="button" value="注册" @click="reg()" v-bind:disabled="info=='用户名已存在'"><br>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script>
    let v = new Vue({
        el:"body>div",
        data:{
            user:{
                username:"",password:"",nick:""
            },
            info:""
        },
      methods:{
          f(){
              axios.get("/check?username="+v.user.username).then(function (response){
                  // alert(response.data)
                  v.info=response.data==1?"用户名已存在":"用户名可用"
              })
          },
          reg(){
              axios.post("/reg",v.user).then(function (response) {
                  if (response.data==1){
                      alert("注册成功!")
                      location.href="/";//回到首页
                  }
              })
          }
      }
    })
</script>
</body>
</html>