<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <!--
    双向绑定 v-model 让控件的值和变量进行绑定，改变是相互的
    需要获取变量值的时候就是用双向绑定
    -->
    <input type="text" v-model="info" >
    <input type="text" v-model="user.username" placeholder="请输入用户名">
    <input type="password" v-model="user.password" placeholder="请输入密码">

    <h1>{{info}}</h1>
</div>

<script src="../vue.min.js"></script>
<script>
    let v = new Vue({
        el:"body>div",
        data:{
            info:"双向绑定测试",
            user:{
                username:"",password:""
            }
        }
    })
</script>
</body>
</html>